/* CSS Document */

.content{height:50px;line-height:50px;background:#434A50;margin:10px 0 0 5%;}
.bottom{width:80%;margin:13px 10% 0 10%;}
button{height:40px;width:100%;background:url(../img/send.png);color:white;font-size:15px;border:none;}
img{margin-top:17px;margin-right:12px;}