/* CSS Document */

.head{background:#474B4E;height:30px;padding-top:10px;box-shadow:1px 2px 4px black;margin-bottom:5px;}
.head_l{line-height:20px;width:65px;margin:0 auto;}
.head_r{line-height:20px;width:65px;margin:0 auto;}
.banner{background:#0692D3;height:30px;line-height:30px; letter-spacing:2px;box-shadow:0px 1px 1px white;}
.content1{height:40px;line-height:40px;background:#505A68;}
.content2{height:110px;background:#464C52;}
.content2 p{line-height:30px;}
.button{width:80px;height:35px;line-height:35px;background:url(../img/square.png) no-repeat;background-size:80px;margin:20px 5% 0 0;}
.content3{color:#FF5A3D;line-height:35px;margin:5px 0 0 5%;border-top:1px solid #4D545A;}