
.main>img{
    width: 100%;
    border-bottom: 5px solid #00a0e9;
}
.detail p{
    font-size: 1.3em;
    color: #9e9c9c;
    margin: 10px;
    line-height: 20px;
    height: 20px;
    margin-bottom: 0;
}
.detail p img{
    height: 20px;
    margin-top: -2px;
}
.detail div:nth-child(1) .fr{
    font-size: 1.5em;
    color: #000000;
}
.detail{
    padding-bottom: 10px;
    border-bottom: 1px solid #eeeeee;
}
button{
    font-size: 1.3em;
    margin-right: 10px;
    width: 20%;
    height: 25px;
    background: #00a1ea;
    color: #ffffff;
    border: none;
    margin-top: 2px;
}
.introduce{
    font-size: 1.3em;
    background: #eeeeee;
    padding: 5px 10px;
    height: 25px;
    line-height: 25px;
}
.introduce img{
    height: 15px;
    margin-top: -2px;
}
.content{
    font-size: 1.4em;
    padding: 20px 12px;
}
.list{
    padding: 0 10px;
}
li:nth-child(1){
    width: 20%;
}
li:nth-child(2){
    width: 30%;
}
li:nth-child(3){
    width: 45%;
}
li{
    font-size: 1.3em;
    float: left;
    text-align: center;
    height: 40px;
    line-height: 40px;
}
ul{
    border-bottom: 1px solid #eeeeee;
}
.list img{
    height: 20px;
    margin-top: -3px;
}
.footer{
    width: 10%;
    padding: 10px 45%;
}
.footer img{width: 100%;}