.main>img{
    width: 100%;
    background: #eeeeee;
}
ul{
    border-top: 5px solid #eeeeee;
    border-bottom: 5px solid #eeeeee;
    height: 35px;
}
ul li{
    float: left;
    width: 24.5%;
    line-height: 35px;
    text-align: center;
    border-right: 2px solid #eeeeee;
}
ul li:nth-child(4){border-right: none;}
.active{
    border-bottom: 5px solid #00a1ea;
}
.content>div:not(#pullUp){
    height: 80px;
    padding: 5px 10px;
    border-bottom: 2px solid #eeeeee;
}
.content img{height: 80px;}
.content>div>div:nth-child(1){
    float: left;
    width: 30%;
}
.content>div>div:nth-child(2){
    float: right;
    width: 60%;
}
.content>div>div:nth-child(2)>div:nth-child(2){
    margin-top: 14px;
}
span{
    display: inline-block;
    margin-top: 27px;
    font-size: 1.4em;
}
#pullUp span{
    margin-top: 0px;
    font-size: 1em;
}
button{
    width: 85px;
    height: 35px;
    background: #00a1ea;
    color: #ffffff;
    border: none;
    margin-top: 8px;
}
.content p:nth-child(1){
    float: left;
}
.content p:nth-child(2){
    float: right;
}
p{
    font-size: 12px;
    color: #9e9c9c;
}
